@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    cursor: url('img/PixelatedMGC_NormalSelect.png'), auto;
}


header .container nav{
    display: flex;
    justify-content: right;
    width: 100%;
    background: rgba(145, 133, 232, 1);
    padding-top: 15px;
    padding-bottom: 15px;
}

nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover{
    color: #fff;
}

main .container {
    width: 100%;
    height: 93.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: rgba(189, 145, 255, 1);
    /*background-image: linear-gradient(rgba(158, 172, 255, 0), rgba(158, 172, 255, .5), rgba(158, 172, 255, .5)100%), url('https://images.pexels.com/photos/4709286/pexels-photo-4709286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');*/
}

main .nome {
    font-size: 80px;
    color:  white;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    width: 60%;
    text-align: center;
}

main .container p{
    color: #fff;
    margin-bottom: 30px;
    width: 40%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
}


main img {
    width: 10%;
    height: auto;
    border-radius: 59% 41% 64% 36% / 40% 58% 42% 60% ;
    transition: 0.8s;
    filter: drop-shadow(5px 5px black);
}

main img:hover{
    border-radius: 28% 72% 22% 78% / 66% 43% 57% 34% ;
    width: 15%;
}

.btn{
    padding: 10px 50px 10px 50px;
    font-size: 18px;
    background: rgba(133, 172, 232, 1);;
    color: white;
    border:1px solid black;
    transition: 0.5s;
    box-shadow: 2px 2px black;
    text-shadow: 2px 2px 1px black;
}

.btn:hover{
    padding: 25px 50px 25px 50px;
    font-size: 18px;
    color: black;

    text-shadow: none;
    cursor: url('img/PixelatedMGC_NormalSelect.png'), auto;
}


.btn i {
    margin-right: 10px;
}

.sobre .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.card {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 50%;
    
}

.title {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.card .desc{
    width: 80%;
    font-size: 18px;
    text-align:center;
    letter-spacing: 3px;
    background: #FFF184;
    overflow:hidden;
}

.skills .container{
    margin-top: 30px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-skills {
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
    background: #FFF184;
}

.skills-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.langs{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
}

.langs:last-child{
    margin-right: 0px;
}

.langs i {
    font-size: 45px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px){

    main img {
        width: 30%;
        height: auto;
        border-radius: 59% 41% 64% 36% / 40% 58% 42% 60% ;
        transition: 0.8s;
        filter: drop-shadow(5px 5px black);
    }

    main img:hover{
        border-radius: 28% 72% 22% 78% / 66% 43% 57% 34% ;
        width: 45%;
    }

    main .nome {
        font-size: 40px;
        width: 80%;
    }

    main .container p{
        font-size: 15px;
        width: 100%;
    }

    .title {
        font-size: 35px;
    }

    .card {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.0);
        width: 100%;
        height: 40%;
        border-radius: 100px; 
    }

    .card .desc {
        width: 100%;
        font-size: 16px;
        text-align:center;
        letter-spacing: 3px;
        background: #FFF184;
    }

    .p-skills {
        width: 80%;
    }
    
    .langs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
    }
    
}


@media screen and (max-width: 500px){

    main img {
        width: 30%;
        height: auto;
        border-radius: 59% 41% 64% 36% / 40% 58% 42% 60% ;
        transition: 0.8s;
        filter: drop-shadow(5px 5px black);
    }

    main img:hover{
        border-radius: 28% 72% 22% 78% / 66% 43% 57% 34% ;
        width: 45%;
    }

    main .nome {
        font-size: 40px;
        width: 80%;
    }

    main .container p{
        font-size: 15px;
        width: 100%;
    }

    .title {
        font-size: 35px;
    }

    .card {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.0);
        width: 100%;
        height: 100%;
        border-radius: 100px; 
    }

    .card .desc {
        width: 100%;
        font-size: 18px;
        text-align:center;
        letter-spacing: 3px;
        background: #FFF184;
    }

    .p-skills {
        width: 100%;
    }
    
    .langs{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
    }
    
}
